@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}
body{
    background: #001832 !important;
}
.mobile-header{
    display: none;
}
header{
    width: 100%;
    padding: 0px;
    background: #001832;
    position: sticky;
    top: 0;
    z-index: 100;
}
header .main-box{
    width: 1300px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .main-box .logo{
    width: 100px;
    height: 80px;
}
header .main-box .logo img{
    width: 100%;
    height: 100%;
}
header .main-box .clockdate-wrapper {
    padding:10px;
    width: 340px;
    text-align:center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#clock,
#date{
    color: #00ff00;
    font-size: 20px;
}
/* header .main-box .user-member{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .main-box .user-member a{
    width: 50%;
    margin: 0px 10px;
    background-color: #004691;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    font-family: Copperplate Gothic Light;
    text-transform: uppercase;
} */
.mobile-menu,
.main-menu i{
    display: none;
}
.main-menu{
    width: 100%;
    background-color: #002449;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.main-menu .menu{
    width: 1300px;
    margin: auto;
}
.main-menu .menu ul{
    margin: 0;
    padding: 0;
}
.main-menu .menu ul li{
    display: inline-block;
}
.main-menu .menu ul li a{
    display: block;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    padding: 13px 50px;
    text-transform: uppercase;
    font-family: 'Crete Round', serif;
    /* font-family: Copperplate Gothic Light; */
}
.main-menu .menu ul li a:hover{
    background-color: #004691;
    border-radius: 10px 10px 0px 0px;
    color: #00ff00;
}

.trending{
    background-color: #002449;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 100%;
    padding: 0px;
    margin-top: 10px;
}
.trending marquee{
    margin: auto;
    display: block;
    width: 1300px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

/* blog-1 */
.main-blog-1{
    width: 100%;
    padding: 0px;
    display: inline-block;
    margin: 10px 0px;
    border-radius: 20px;
}
.main-blog-1 .blog-1{
    width: 1300px;
    padding: 10px;
    margin: auto;
    background-color: #00244c;
    border-radius: 20px;
}
.main-blog-1 .blog-1::after{
    display: table;
    content: "";
    clear: both;
}
.main-blog-1 .blog-1 .title{
    width: 100%;
    border-bottom: 2px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.main-blog-1 .blog-1 .main-box{
    width: 300px;
    margin: 10px;
    float: left;
    border-radius: 10px;
}
.main-blog-1 .blog-1 .main-box .box{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.main-blog-1 .blog-1 .main-box .box .images{
    width: 100%;
    height: 157px;
    overflow: hidden;
    border-radius: 10px;
}
.main-blog-1 .blog-1 .main-box .box .images img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border-radius: 10px;
}
.main-blog-1 .blog-1 .main-box .box .images img:hover{
    transform: scale(1.05);
}

/* blog-2 */
.main-blog-2{
    width: 100%;
    padding: 0px;
    display: inline-block;
    margin: 10px 0px;
    border-radius: 20px;
}
.main-blog-2 .blog-2{
    width: 1300px;
    padding: 10px;
    margin: auto;
    background-color: #00244c;
    border-radius: 20px;
}
.main-blog-2 .blog-2::after{
    display: table;
    content: "";
    clear: both;
}
.main-blog-2 .blog-2 .title{
    width: 100%;
    border-bottom: 2px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.main-blog-2 .blog-2 .main-box{
    width: 193px;
    margin: 10px;
    float: left;
    border-radius: 10px;
}
.main-blog-2 .blog-2 .main-box .box{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.main-blog-2 .blog-2 .main-box .box .images{
    width: 100%;
    height: 145px;
    overflow: hidden;
    border-radius: 10px;
}
.main-blog-2 .blog-2 .main-box .box .images img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border-radius: 10px;
}
.main-blog-2 .blog-2 .main-box .box .images img:hover{
    transform: scale(1.05);
}

/* footer */
footer{
    width: 100%;
    padding: 0px;
}
footer .footer-menu{
    width: 600px;
    margin: auto;
    text-align: center;
}
footer .footer-menu ul{
    margin: 0;
    padding: 0;
}
footer .footer-menu ul li{
    display: inline-block;
}
footer .footer-menu ul li a{
    display: block;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    font-family: Copperplate Gothic Light;
    text-transform: uppercase;
}
footer .footer-menu ul li a:hover{
    color: #00ff00;
}
footer .footer-menu ul span{
    color: #fff;
}
footer .follow{
    width: 600px;
    margin: 10px auto;
    text-align: center;
    font-family: Copperplate Gothic Light;
    text-transform: uppercase;
}
footer .follow p{
    font-size: 18px;
    color: #fff;
}
footer .follow i{
    padding: 10px;
    border-style: double;
    border-color: #00ff00;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
footer .copyright{
    width: 600px;
    margin: 20px auto;
    text-align: center;
}
footer .copyright p{
    color: #fff;
    font-size: 15px;
}



.blog-live{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 10px 0px;
}
.blog-live .box-blog{
    width: 1300px;
    padding: 10px;
    margin: auto;
    background-color: #00244C;
    border-radius: 20px;
}
.blog-live .box-blog::after{
    display: table;
    clear: both;
    content: "";
}
.blog-live .box-blog .main-box{
    float: left;
    width: 236px;
    margin: 10px;
    padding: 10px;
}
.blog-live .box-blog .main-box .box{
    width: 100%;
}
.blog-live .box-blog .main-box .box .images{
    width: 100%;
    height: 269px;
}
.blog-live .box-blog .main-box .box .images img{
    width: 100%;
    height: 100%;
}


.blog-slot{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 10px 0px;
}
.blog-slot .box-blog{
    width: 1300px;
    padding: 10px;
    margin: auto;
    background-color: #00244C;
    border-radius: 20px;
}
.blog-slot .box-blog::after{
    display: table;
    clear: both;
    content: "";
}
.blog-slot .box-blog .main-box{
    float: left;
    width: 193px;
    margin: 10px;
    padding: 10px;
}
.blog-slot .box-blog .main-box .box{
    width: 100%;
}
.blog-slot .box-blog .main-box .box .images{
    width: 100%;
    height: 145px;
}
.blog-slot .box-blog .main-box .box .images img{
    width: 100%;
    height: 100%;
}


.blog-card{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 10px 0px;
}
.blog-card .box-blog{
    width: 1300px;
    padding: 10px;
    margin: auto;
    background-color: #00244C;
    border-radius: 20px;
}
.blog-card .box-blog::after{
    display: table;
    clear: both;
    content: "";
}
.blog-card .box-blog .main-box{
    float: left;
    width: 193px;
    margin: 10px;
    padding: 10px;
}
.blog-card .box-blog .main-box .box{
    width: 100%;
}
.blog-card .box-blog .main-box .box .images{
    width: 100%;
    height: 145px;
}
.blog-card .box-blog .main-box .box .images img{
    width: 100%;
    height: 100%;
}


.blog-fish{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 10px 0px;
}
.blog-fish .box-blog{
    width: 1300px;
    padding: 10px;
    margin: auto;
    background-color: #00244C;
    border-radius: 20px;
}
.blog-fish .box-blog::after{
    display: table;
    clear: both;
    content: "";
}
.blog-fish .box-blog .main-box{
    float: left;
    width: 193px;
    margin: 10px;
    padding: 10px;
}
.blog-fish .box-blog .main-box .box{
    width: 100%;
}
.blog-fish .box-blog .main-box .box .images{
    width: 100%;
    height: 145px;
}
.blog-fish .box-blog .main-box .box .images img{
    width: 100%;
    height: 100%;
}


.blog-dice{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 10px 0px;
}
.blog-dice .box-blog{
    width: 1300px;
    padding: 10px;
    margin: auto;
    background-color: #00244C;
    border-radius: 20px;
}
.blog-dice .box-blog::after{
    display: table;
    clear: both;
    content: "";
}
.blog-dice .box-blog .main-box{
    float: left;
    width: 193px;
    margin: 10px;
    padding: 10px;
}
.blog-dice .box-blog .main-box .box{
    width: 100%;
}
.blog-dice .box-blog .main-box .box .images{
    width: 100%;
    height: 145px;
}
.blog-dice .box-blog .main-box .box .images img{
    width: 100%;
    height: 100%;
}


.blog-contact{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 10px 0px;
}
.blog-contact .box-blog{
    width: 800px;
    padding: 50px;
    margin: auto;
    background-color: #00244C;
    border-radius: 20px;
}

.blog-contact .box-blog form{
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
}
.blog-contact .box-blog form h6{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #002449;
}
.blog-contact .box-blog form label{
    color: #002449;
    font-size: 15px;
    padding: 10px 0px;
    font-weight: 500;
}
.blog-contact .box-blog form input,
.blog-contact .box-blog form textarea{
    padding: 10px;
    width: 100%;
    font-size: 15px;
    color: #002449;
    border: 2px solid #00244c;
    border-radius: 20px;
    outline: none;
    background: none;
}
.blog-contact .box-blog form button{
    border: 2px solid #00244C;
    outline: none;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
    background: none;
    margin-top: 20px;
}


.blog-about{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 10px 0px;
}
.blog-about .box-blog{
    width: 1300px;
    padding: 50px;
    margin: auto;
    background-color: #00244C;
    border-radius: 20px;
}
.blog-about .box-blog h6{
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
}
.blog-about .box-blog p{
    color: #fff;
    font-size: 18px;
    padding: 10px;
}